<a href="{{ include.person.url | relative_url }}" class="person-card person-card-square">
  <div class="image-wrapper">
    {% if include.person.image %}
      <img src="{{ include.person.image | relative_url }}" alt="{{ include.person.name }}">
    {% else %}
      <img src="{{ '/assets/images/default_avatar.avif' | relative_url }}" alt="{{ include.person.name }}">
    {% endif %}
  </div>

  <div class="person-info">
    <h3>{{ include.person.name }}</h3>
    <p>{{ include.person.role }}</p>
  </div>
</a>