// ==========================================================================
// CWRU OFFICIAL BRANDING
// ==========================================================================

// --- Primary Color ---
$cwru-blue:       #003071; // PMS 2146 C

// --- Secondary Colors ---
$cwru-dark-blue:  #09143a; // PMS 2768 C
$force-blue:      #2359ef; // PMS 2386 C
$cwru-true-blue:  #007ab8; // PMS 2382 C
$cwru-light-blue: #a6d2e6; // PMS 291 C
$black:           #000000;
$dark-gray:       #999999; // Cool Gray 7 C
$light-gray:      #d3d3d3; // Cool Gray 2 C
$white:           #ffffff;

// --- Tertiary Colors ---
$copper-red:      #d63d1f; // PMS 7625 C
$orange:          #ff9239; // PMS 3588 C
$blue-green:      #377e72; // PMS 2461 C
$violet-purple:   #692c95; // PMS 2587 C
$vivid-green:     #61a530; // PMS 360 C


// --- Other non CWRU colors
$bg-ghost: #f8f9fa;

// --- Typography Hierarchy ---
// Arizona Sans is the primary digital font
$font-main: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Official Brand Weights
$weight-light:    300;
$weight-regular:  400;
$weight-medium:   500;
$weight-bold:     700;